* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, helvetica, sans-serif;

}
html, body { 
    max-width: 100%;
    overflow-x: hidden; /*Para escoder el scroll horizontal*/
}
body {
	background-color: #e9ebee !important;
}
textarea {
    resize: none;
}
header {
	width: 100%;
	position: fixed;
	z-index: 1;
    height: 62px;
	background-color:#86b1ef;	
	top: 0;
}
header nav {
	position: absolute;
	top:20px;
	right:20px;
}

.logo {
    color: white;
	margin-left: 15px;
    font-size: 2.5em;
    line-height: 58px;
    font-family: helvetica;
}
.logo span {
	font-size: 17pt;
}
footer {
  width: 100%;
  position: relative;	
  bottom: 0;
  padding: 1rem;
  background-color: #86b1ef;
  text-align: center;
  height: 50px;	
  font-size: 0.9em;
}

#content{
	position: relative;
	/*margin: 5%;*/
	margin-left: 3%;
    margin-right: 3%;
	text-align:center;
}

.margin-top{
	margin-top: 65px;
}

.margin-bottom{
	margin-bottom: 50px;
}

.border_radius{
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}
.flotar_izquierda{
	float: left;
}
.flotar_derecha{
	float: right;
}

/*********** Para publicar estados*********/
#publicar{
	/*margin-top: 2%;*/
	padding: 6px;
	background-color: white;
}
.shadow {
   -moz-box-shadow:    inset 0px 0px 5px 0px #000000;
   -webkit-box-shadow: inset 0px 0px 5px 0px #000000;
   box-shadow:         inset 0px 0px 5px 0px #000000;
}
.form-control2{
	height: 100px !important;
	width: 98% !important;
	margin: 1% !important;
}
.titulo{
	text-align: left;
	font-size: 18px;
    color: rgb(13, 70, 163);
    font-weight: 600;
    padding-left: 10px;
}
#tipo_publicacion{
	width: 20%;
	display: initial;
}
#button_publicar{
	width: 20%;
}
.tabla2 {
    /*table-layout: auto;*/
    table-layout:fixed;
	width: 100%;
    border-collapse: collapse;
    width: 100%;
}
.tabla2 td {
    border: 1px solid #ccc;
}
.tabla2 .absorbing-column {
    width: 100%;
}
.tabla{
	display: inline-grid;
}
.tabla2{
	/*text-align: right;
	width: 100%;
    height: 100%;*/
}
.icon-publicar{
	height: 3.125em;
	width: 3.125em;
}
.mitad-50{
	width: 50%;
}
.escribir{
	margin-top: 5px;
	margin-bottom: 5px;
}


/**************Estructura de las publicaciones ***********/
.publicacion{
	margin-top: 1%;
	padding: 6px;
	background-color: white;
}
.publicacion2{
	margin-left: 1%;
	margin-right: 1%;
	margin-top: 1%;
}
.publicacion_barra_nombre{
	height: 80px;
}
.publicacion_foto_miniatura{
	width: 80px;
	height: 80px;
	

	display: initial;
	float: left;

	border-radius: 200px 200px 200px 200px;
	-moz-border-radius: 200px 200px 200px 200px;
	-webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}
.publicacion_nombre{
	height: 100%;
	position: relative;
	float: left;
}
.publicacion_nombre2{
    vertical-align: middle;
}
.publicacion_submenu_control{
	vertical-align: middle;
	float: right;
    margin-right: 3%;
}
.publicacion_texto{
	width: 100%;
	display: inline-flex;
	text-align: justify;
    text-justify: inter-word;
}
.publicacion_multimedia2{
	width: 100%;
}
.publicacion_barra_opciones{
	height: 70px;
	margin-top: 1%;
}
.fecha1{
	width: 15%;
}
.publicacion_barra_opciones2{
	width: 80%;
	height: 100%
}
.publicacion_barra_opciones_font{
	font-size: 1em;
}
.publicacion_icon{
	height: 1.125em;
	width: 1.125em;
}










.data_title{
	background-color: #2EFEF7;
	margin-left:  5%;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	border-radius: 15px 50px;
    padding: 20px;
    
}

.data_description{
	background-color: #58FAAC;
	margin-left:  5%;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	border-radius: 15px 50px;
    padding: 20px;
}
.data_image{
	//background-color: #DA81F5;
	margin-left:  5%;
	margin-right: 5%;
	margin-top: 1%;
	margin-bottom: 1%;
	background-size: 100% auto;
	
}

.data_image2{
	width: 100%;
	height: auto;
	border-radius: 50%;
}




#Superbutton {
	float: center;

	background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    width: 50%;

   
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#Superbutton:hover {
    background-color: white; 
    border: none;
    color: orange;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    width: 50%;


}


/************Seccion de Chat************************/
#chat{
	background-color: black;
	position: fixed;
	height: 100%;
	width: 100%;
}

