<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<div class="panel-group" id="accordion">

  <div class="panel panel-default">  	
  	<div class="panel-heading">
  		<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Bruce Wayne</a></h4>
  	</div>
  	<div id="collapse1" class="panel-collapse collapse">
  		<div class="panel-body scroll-bar-style1">
      		Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      		minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      		commodo consequat.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  		</div>
  		<div class="panel-footer">
        <input type="text" class="chat_area" placeholder="Escribe un mensaje..">
        <button class="btn btn-info bnt-xs">Enviar</button>
      </div>
  	</div>
  </div>

  <div class="panel panel-default">  	
  	<div class="panel-heading">
  		<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Kal El</a></h4>
  	</div>
  	<div id="collapse2" class="panel-collapse collapse">
  		<div class="panel-body">
      		Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      		minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      		commodo consequat.
  		</div>
  		<div class="panel-footer">
      <input type="text" class="chat_area" placeholder="Escribe un mensaje..">
        <button class="btn btn-info bnt-xs">Enviar</button>  
      </div>
  	</div>
  </div>

  <div class="panel panel-default">  	
  	<div class="panel-heading">
  		<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Barry Allen</a></h4>
  	</div>
  	<div id="collapse3" class="panel-collapse collapse">
  		<div class="panel-body">
      		Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      		minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      		commodo consequat.
  		</div>
  		<div class="panel-footer">
      <input type="text" class="chat_area" placeholder="Escribe un mensaje..">
        <button class="btn btn-info bnt-xs">Enviar</button>  
      </div>
  	</div>
  </div>

  <div class="panel panel-default">  	
  	<div class="panel-heading">
  		<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Diana Prince</a></h4>
  	</div>
  	<div id="collapse4" class="panel-collapse collapse">
  		<div class="panel-body">
      		Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      		minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      		commodo consequat.
  		</div>
  		<div class="panel-footer">
        <input type="text" class="chat_area" placeholder="Escribe un mensaje..">
        <button class="btn btn-info bnt-xs">Enviar</button>
      </div>
  	</div>
  </div>

   <div class="panel panel-default">  	
  	<div class="panel-heading">
  		<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Arthur Curry</a></h4>
  	</div>
  	<div id="collapse5" class="panel-collapse collapse">
  		<div class="panel-body">
      		Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      		minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      		commodo consequat.
  		</div>
  		<div class="panel-footer">
      <input type="text" class="chat_area" placeholder="Escribe un mensaje..">
        <button class="btn btn-info bnt-xs">Enviar</button>  
      </div>
  	</div>
  </div>

   <div class="panel panel-default">  	
  	<div class="panel-heading">
  		<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse6">Hal Jordan</a></h4>
  	</div>
  	<div id="collapse6" class="panel-collapse collapse">
  		<div class="panel-body">
      		Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      		minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      		commodo consequat.
  		</div>
  		<div class="panel-footer">
      <input type="text" class="chat_area" placeholder="Escribe un mensaje..">
        <button class="btn btn-info bnt-xs">Enviar</button>  
      </div>
  	</div>
  </div>

  <div class="panel panel-default">  	
  	<div class="panel-heading">
  		<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse7">J'onn J'onzz</a></h4>
  	</div>
  	<div id="collapse7" class="panel-collapse collapse">
  		<div class="panel-body">
      		Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      		minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      		commodo consequat.
  		</div>
  		<div class="panel-footer">
      <input type="text" class="chat_area" placeholder="Escribe un mensaje..">
        <button class="btn btn-info bnt-xs">Enviar</button>  
      </div>
  	</div>
  </div>

   <div class="panel panel-default">  	
  	<div class="panel-heading">
  		<h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapse8">Dick Grayson</a></h4>
  	</div>
  	<div id="collapse8" class="panel-collapse collapse">
  		<div class="panel-body">
      		Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      		sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      		minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      		commodo consequat.
  		</div>
  		<div class="panel-footer">
      <input type="text" class="chat_area" placeholder="Escribe un mensaje..">
        <button class="btn btn-info bnt-xs">Enviar</button>  
      </div>
  	</div>
  </div>
  
</div>

</body>
</html>