<!DOCTYPE html>
<html>
<head>
	<!-- CSS -->
	<link rel="stylesheet" href ="../static/css/style.css">
	<link rel="stylesheet" href="../static/vendor/css/bootstrap.min.css" type="text/css">
	<link rel="shortcut icon" href="../static/images/icon.ico" type="image/x-icon" /> 
	
	<!-- scripts -->
	<script src="../static/vendor/js/jquery1.11.0.min.js"></script>
	<script src="../static/vendor/js/jquery.min.js"></script>
	<script src="../static/vendor/js/bootstrap.min.js"></script>
	<script src="../static/js/control_modulo_estado.js"></script> 
	<script type="text/javascript" src="datos_ejemplo_prototipo.json"></script> <!--Data de publicaciones -->
	
	<!-- Otros -->
	<meta charset="utf-8"> 
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>RedParAti</title>

</head>
<body>
	<header>
		<div class="logo">ATI<span>[UCV]</span> 2017-01</div>

	</header>

	
	<div class="containter-fluid margin-top">
		<div class="row">

			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<div id= "content">
					
					<!-- ****SECCION DE PUBLICAR**** -->
					<div id="publicar" class="shadow border_radius">
						<div class="publicar2">
							<a href="">
								<img class="publicacion_foto_miniatura" src="../static/images/perfil (1).jpg"> 
							</a>

							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
							  ¿En que estas pensando?
							</button>

						</div>


						


						<!-- Modal -->
						<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        ...
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						        <button type="button" class="btn btn-primary">Save changes</button>
						      </div>
						    </div>
						  </div>
						</div>








						<!--
						<div class="form-group">

							<a href="">
								<img class="publicacion_foto_miniatura" src="../static/images/perfil (1).jpg"> 
							</a>

							<textarea class="escribir form-control form-control2" placeholder="Escribe aqui tu estado..."></textarea> 
							<div class="menu_publicar">
								<div class="publicar_opciones tabla mitad-50">
									<table class="tabla2 publicar_opciones2">
										<tr>
											<td><img class="icon-publicar" src="../static/images/icon-image.png"></td>
											<td><img class="icon-publicar" src="../static/images/icon-audio-file.png"></td>
											<td><img class="icon-publicar" src="../static/images/icon-video-file.png"></td>
											<td><img class="icon-publicar" src="../static/images/icon-enlace.png"></td>
											<td><img class="icon-publicar" src="../static/images/icon-emoji.png"></td>
										</tr>
										<tr>
											<td> <p>Imagen</p> </td>
											<td> <p>Audio</p> </td>
											<td> <p>Video</p> </td>
											<td> <p>Enlace</p> </td>
											<td> <p>Emoji</p> </td>
										</tr>
										
								  </table>
								</div>

								<select class="form-control" id="tipo_publicacion">
									<option>Solo amigos</option>
									<option>Público</option>
									<option>Solo yo</option>
								</select>
							 	<button type="submit" id="button_publicar" class="btn btn-primary">Publicar</button>
							 	
							</div>
							
						</div>
						-->
					</div>

					<!-- Aqui se agregará la información dinamicamente -->

					<button id="Superbutton" type="button" title="Ver más" onclick="more_elements_callback(index,increment,max_value)"> Ver más</button>
					
				</div>
			</div>

			<div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
				<div id="chat">
					
				</div>
			</div>
		</div>
	</div>
	
	
	<footer title="footer">
	    Copyright © 2018 Esta aplicación ha sido desarrollada por los estudiantes de Aplicaciones de Tecnología Internet del periodo  I-2017. Todos los derechos reservados.
	</footer>

</body>
</html>
