<!DOCTYPE html>
<html>
<head>
	<!-- CSS -->
	<link rel="stylesheet" href ="../static/css/style.css">
	<link rel="stylesheet" href="../static/vendor/css/bootstrap.min.css" type="text/css">
	<link rel="stylesheet" href="../static/vendor/css/font-awesome.min.css" rel="stylesheet">
	<link rel="shortcut icon" href="../static/images/icon.ico" type="image/x-icon" />

	<!-- scripts -->
	<script src="../static/vendor/js/jquery-3.2.1.min.js"></script>
	<script src="../static/vendor/js/bootstrap.min.js"></script>
	<script src="../static/js/control_modulo_estado.js"></script>
	<script type="text/javascript" src="datos_ejemplo_prototipo.json"></script> <!--Data de publicaciones -->





	<link rel="stylesheet" type="text/css" href="../static/css/style_navegation_bar.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style_base_container.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style_lateral_chat.css">

<!--
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">

	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>

-->

	<!-- Otros -->
	<meta charset="utf-8">
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>RedParAti</title>

</head>
<body>


	<div class="navegation_bar">

		<script type="text/javascript">
			$(".navegation_bar").load("navbar.html");
		</script>

  	</div>


	<!--<div class="containter-fluid margin-top">-->
	<div class="containter">
		<div class="row">

			<div class="col-xs-12 col-sm-7 col-md-9">
				<div id= "content">

					<!-- ****SECCION DE PUBLICAR**** -->

					<div id="publicar" class="shadow border_radius" data-toggle="modal" href="#myModal">
						<div class="publicar2" >
							<a href="index.html">
								<img class="publicacion_foto_miniatura" src="../static/images/perfil (1).jpg">
							</a>

							<!-- Button trigger modal -->
							<!--<div type="" class="publicar_boton" data-toggle="modal" data-target="#exampleModal"> -->
							<div type="" class="publicar_boton" data-toggle="modal" href="#myModal">

							  ¿En que estas pensando?
							</div>

							<div class="publicar_upload">
								<ul class="social-network social-circle">
				            <li><a href="#" class="icoUpload" title="Subir multimedia"><i class="fa fa-upload icon-color" aria-hidden="true"></i></a></li>
				        </ul>
							</div>
						</div>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					      	<a href="index.html">
										<img class="publicacion_foto_miniatura" src="../static/images/perfil (1).jpg">
									</a>
					        <h5 class="publicar_modal modal-title" id="exampleModalLabel">Pepe Fernandez</h5>
					        <div class="publicar_privacidad_select form-group">
								  	<select class="publicar_privacidad_select2 form-control" id="sel1">
									    <option class="publicar_privacidad_select2">&#xf0ac; Público</option>
									    <option class="publicar_privacidad_select2">&#xf0c0; Solo Amigos</option>
									  </select>
									</div>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					      	<ul class="social-network social-circle">
				          	<li><a href="#" class="icoUpload" title="Imagen"><i class="fa fa-file-image-o icon-color" aria-hidden="true"></i></a></li>
				          	<li><a class="icoUpload" title="Video" data-toggle="modal" href="#myModal2"><i class="fa fa-file-video-o icon-color" aria-hidden="true"></i></a></li>
				          	<li><a href="#" class="icoUpload" title="Audio"><i class="fa fa-file-audio-o icon-color" aria-hidden="true"></i></a></li>
				          	<li><a href="#" class="icoUpload" title="Link"><i class="fa fa-external-link icon-color" aria-hidden="true"></i></a></li>
				        	</ul>
					        <form>
					          <div class="form-group">
					            <label for="message-text" class="col-form-label">Mensaje:</label>
					            <textarea class="form-control" id="message-text" placeholder="¿En que estas pensando?"></textarea>
					          </div>
					        </form>

					        <div class="publicar_multimedia">
					        	<iframe class="publicar_multimedia2" src="https://www.youtube.com/embed/HSOtku1j600">	</iframe>
					        </div>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					        <button type="button" class="btn btn-primary">Enviar mensage</button>
					      </div>
					    </div>
					  </div>
					</div>

					<!-- Modal2 -->
					<div class="modal fade" id="myModal2">
				    <div class="modal-dialog">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				                	<h4 class="modal-title">Modal 2</h4>

				            </div>
				            <div class="container"></div>
				            <div class="modal-body">Content for the dialog / modal goes here.
				                <br>
				                <br>
				                <p>come content</p>
				                <br>
				                <br>
				                <br>	<a data-toggle="modal" href="#myModal3" class="btn btn-primary">Launch modal</a>

				            </div>
				            <div class="modal-footer">	<a href="#" data-dismiss="modal" class="btn">Close</a>
											<a href="#" class="btn btn-primary">Save changes</a>

				            </div>
				        </div>
				    </div>
					</div>


					<!-- Aqui se agregará la información dinamicamente -->

					<button id="Superbutton" type="button" title="Ver más" onclick="more_elements_callback(index,increment,max_value)"> Ver más</button>

				</div>
			</div>

			<div class="hidden-xs col-sm-5 col-md-3">
				<!--BARRA CHAT-->
				<div class="right_chat_module ">

					<div class="container_search">
						<img src="../static/images/search.png" width="30px;" id="search_img">
						<input type="text" name="buscador_amigos" id="buscador_amigos" placeholder=" Buscar amigo ">
						<button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-send"></span></button>
					</div>

					<div class="container_lista_amigos scroll-bar-style">

						<!--SCRIPT TEMPORAL SOLO PARA EL PROTOTIPO FASE1-->
						<script type="text/javascript">
							$(".container_lista_amigos").load("amigos.html");
						</script>
						<!--********************************************-->

					</div>

				</div>
			</div>
		</div>
	</div>


	<footer title="footer">
	   <p style="text-align: center;"> Copyright © 2018 Esta aplicación ha sido desarrollada por los estudiantes de Aplicaciones de Tecnología Internet del periodo  I-2017. Todos los derechos reservados.</p>
	</footer>

</body>
</html>
