<!DOCTYPE html>
<html>
<head>
	<!-- CSS -->
	<link rel="stylesheet" href ="../static/css/style.css">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="shortcut icon" href="img/icon.ico" type="image/x-icon" /> 
	
	<!-- scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="../static/js/control_modulo_estado.js"></script>
	<script type="text/javascript" src="datos_ejemplo.json"></script>

	<!-- Otros -->
	<meta charset="utf-8"> 
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>RedParAti</title>

</head>
<body title="body">
	<header title="header">
		<div class="logo" title="logo">ATI<span>[UCV]</span> 2017-01</div>

	</header>

	
	<div class="containter-fluid margin-top">
		<div class="row">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<div id= "content" title="content">
					
					<!-- Aqui se agregará la información dinamicamente -->

					<button id="Superbutton" type="button" title="Ver más" > Ver más</button>
				</div>
			</div>
		</div>
	</div>
	
	
	<footer title="footer">
	    Copyright © 2018 Esta aplicación ha sido desarrollada por los estudiantes de Aplicaciones de Tecnología Internet del periodo  I-2017. Todos los derechos reservados.
	</footer>

</body>
</html>
