    <div class="row row-list">
      <div class=" col-xs-12 col-sm-12 col-md-12">
          <div>
            <ul class="navbar-right">
          <li><a href="index.html"><p> Muro </p><span class="glyphicon glyphicon-list-alt"></span></a></li>
          <li><a href="#"><p> Perfil </p><span class="glyphicon glyphicon-home"></span></a></li>
          <li><a href="#"><p> Amigos </p><span class="glyphicon glyphicon-user"></span></a></li>
          <li><a href="mailbox.html"><p> Mensajes </p><span class="glyphicon glyphicon-comment"></span></a></li>
          <li><a href="#"><p> Notificaciones </p><span class="glyphicon glyphicon-globe"></span></a></li>
          <li class="close-session"><a href="#"><p> Cerrar sesión </p><span class="glyphicon glyphicon-log-out"></span></a></li>
            </ul>
          </div>
      </div>
    </div>
