.right_chat_module{
	margin-top:8px;
	height: 80vh;
	background:#E9EBEE;
	border:solid 1px #CCCCCC;
	border-radius:5px;
}

.container_search{
	background-color: rgb(207, 209, 211);
	padding: 5px;
	margin-bottom: 10px;
	width: 100%;
}


#buscador_amigos{
	display:inline-block;
	width:77%;
	height: 30px;
	border: none;
	background-color: white; 
}

#buscador_amigos:focus{
	outline: none;
}

.container_lista_amigos{
	height: 70vh;
	overflow-y: scroll;
}


.scroll-bar-style::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}


.scroll-bar-style::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}


.scroll-bar-style::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color:#004ea1;
}

.panel-heading .panel-title a {
	color: #228ae6;
	text-decoration: none;
}

.panel-body {
	height: 400px;
	background: #d6ecfc;
	overflow-y: scroll;
}

.panel-footer input{
	border: none;
	background-color:#F5F5F5;

}

.panel-footer input:focus{
outline: none;

}