  .row-list{
    margin: 0px;
    padding: 0px;
    background: #228ae6;
    height:40px;
  }

  .row-list ul {
    margin: 0px;
    padding: 0px; 
  }

  .row-list ul li {
    list-style: none;
    display: inline-block;
    margin: 5px;
  }

  .row-list ul li a {
    text-decoration: none;
    padding:8px;
    color: white;
  }

      .row-list ul p {
      display: inline-block;
      margin: 5px;

    }

  @media (max-width: 768px){

   .row-list ul li {
    list-style: none;
    display: inline-block;
    margin: 2px;
    margin-top: 10px; 
  }

    .row-list ul p {
      display: none;

    }

    .row-list ul span{
      font-size: 15px;

    }

  .row-list ul li:hover {
    background: transparent;
  }

  }