#text_area{
	margin-top: 5px;
	display: inline-block;
	background-color:#f6f7f9;
	outline: none;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	width: 95%;
	resize: none;
}
#send_message {
	display: inline-block;
	position: relative;
	top: -20px;
	height: 45px;
}
.message_area{
	margin-top: 10px;
	height:500px;
	background-color: #f6f7f9;
	overflow-y: scroll;
}