.main{
	margin-top: 60px;
}

.notification{
	background: #dddfe2;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
}

.block{
	display: inline-block;
}

.title{
	font-weight: 700;
	color: #0e2656;
}
