<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style_lateral_chat.css">
	<link rel="stylesheet" type="text/css" href="../static/font-awesome/css/font-awesome.css">
	<script type="text/javascript" src="../static/js/jquery.js"></script>
</head>
<body>

 <div class="inner-container">
 	<input type="text" name="search-friend" id="search-friend" placeholder="Encuentra a un amigo..">
 	<ul class="list-friend">
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Carl C. Snyder</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Darryl D. Russell</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Shannon B. McBride</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Connie M. Cook</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Debra R. Evans</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Kelly D. Gardner</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Robert S. White</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Richard E. Robertson</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Joanne C. Benson</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Herman P. Coleman</li>
 		 <li><img src="../static/images/icon-ortografia2.png" width="25px" >Violette T. Carter</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Linda H. Nickle</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Jose J. Dinardo</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Beatrice T. Griffith</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Tony K. Melton</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Virginia T. Nelson</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Lawrence M. Flowers</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Jerry E. Green</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Edith T. Berry</li>
 		<li><img src="../static/images/icon-ortografia2.png" width="25px" >Joyce E. Barnett</li>
 	</ul>
 </div>	

</body>
</html>