<!DOCTYPE html>
<html>
<head>
	<!-- CSS -->
	<link rel="stylesheet" href ="../static/css/style.css">
	
	<!--
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	-->
	<link rel="stylesheet" href="../static/vendor/css/bootstrap.min.css" type="text/css">
	<link rel="shortcut icon" href="../static/images/icon.ico" type="image/x-icon" /> 
	
	<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style_navegation_bar.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style_base_container.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style_lateral_chat.css">
	<!-- scripts -->
	<!--
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	-->
	<script src="../static/vendor/js/jquery1.11.0.min.js"></script>
	<script src="../static/vendor/js/jquery.min.js"></script>

	<script src="../static/js/control_modulo_estado.js"></script>

	<script type="text/javascript" src="../static/js/jquery.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap.js"></script>


	<!--
	<script type="text/javascript" src="datos_ejemplo.json"></script>
	-->
	<script type="text/javascript" src="datos_ejemplo_prototipo.json"></script>

	<!-- Otros -->
	<meta charset="utf-8"> 
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>RedParAti</title>

</head>
<body title="body">

  <div class="navegation_bar">
  	
	<script type="text/javascript">
		$(".navegation_bar").load("navbar.html");
	</script>

  </div>
	
	<div class="containter">
		<div class="row">
			<div class="col-sm-7 col-md-8 muro">
				<div id= "content" title="content" style="overflow-y: scroll;">
					
					<!-- ****SECCION DE PUBLICAR**** -->
					<div id="publicar" class="shadow border_radius">
						<div class="form-group">
							<div class="titulo">Publicar:</div>
							<textarea class="escribir form-control form-control2" placeholder="Escribe aqui tu estado..."></textarea> 
							<div class="menu_publicar">
								<div class="publicar_opciones tabla mitad-50">
									<table class="tabla2 publicar_opciones2">
										<tr>
											<td><img class="icon-publicar" src="../static/images/icon-image.png"></td>
											<td><img class="icon-publicar" src="../static/images/icon-audio-file.png"></td>
											<td><img class="icon-publicar" src="../static/images/icon-video-file.png"></td>
											<td><img class="icon-publicar" src="../static/images/icon-enlace.png"></td>
											<td><img class="icon-publicar" src="../static/images/icon-emoji.png"></td>
										</tr>
										<tr>
											<td> <p>Imagen</p> </td>
											<td> <p>Audio</p> </td>
											<td> <p>Video</p> </td>
											<td> <p>Enlace</p> </td>
											<td> <p>Emoji</p> </td>
										</tr>
										
								  </table>
								</div>
								<select class="form-control" id="tipo_publicacion">
									<option>Solo amigos</option>
									<option>Público</option>
									<option>Solo yo</option>
								</select>
							 <button type="submit" id="button_publicar" class="btn btn-primary">Publicar</button>
							 	
							</div>
							
						</div>
					</div>




					

					<!-- Aqui se agregará la información dinamicamente -->

					<button id="Superbutton" type="button" title="Ver más" onclick="more_elements_callback(index,increment,max_value)"> Ver más</button>
					


				</div>
			</div>

		<div class=" hidden-xs col-sm-5 col-md-4">
			
			<!--BARRA CHAT-->
			
			<div class="right_chat_module ">

				<div class="container_search">
					<img src="img/search.png" width="30px;" id="search_img">
					<input type="text" name="buscador_amigos" id="buscador_amigos" placeholder=" Buscar amigo ">
					<button class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-send"></span></button>
				</div>

				<div class="container_lista_amigos scroll-bar-style">

					<!--SCRIPT TEMPORAL SOLO PARA EL PROTOTIPO FASE1-->
					<script type="text/javascript">
						$(".container_lista_amigos").load("amigos.html");
					</script>
					<!--********************************************-->

				</div>

			</div>

		</div>
		</div>
	</div>
	
	
	<footer title="footer">
	   <p style="text-align: center;"> Copyright © 2018 Esta aplicación ha sido desarrollada por los estudiantes de Aplicaciones de Tecnología Internet del periodo  I-2017. Todos los derechos reservados.</p>
	</footer>

</body>
</html>
