
.bar-menu {
    background-color: #0e2656;
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0px;
}

.bar-menu a{
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}

.bar-menu a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.sign-out{
    position: absolute;
    right: 0px;
}